.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100wh;
  justify-content: center;
  margin: 0px auto;
  height: 100vh;
}

.new-watches {
  display: flex;
  width: 220px;
}

.add-clock {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 10px auto;
  font-size: 5rem;
  color: #969494;
  background-color: #ffffff;
  border: 1px solid #969494;
}

.add-clock:hover {
  cursor: pointer;
  color: #000000;
  background-color: #f6f8e3;
}

.add-clock:disabled {
  cursor: not-allowed;
  color: #969494;
  background-color: #ffffff;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
