.digital {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 2rem;
  padding: 10px;
  margin: 0 auto;
  font-weight: 700;
}

.hours,
.minutes,
.seconds {
  width: 1.7rem;
}

.hours::after,
.minutes::after {
  content: ':';
}