.App {
  margin: 0;
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

.container-permission {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-text {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}

.container-button {
  display: flex;
}

.button-permission {
  height: 4rem;
  margin: 1rem;
  margin: 2rem auto;
  padding: 0 2rem;
  font-size: 1.3rem;
  border-radius: 20px;
  border-color: 1px solid #0e7e26;
  background-color: #0e7e26;
  color: #ffffff;
}